{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> Gestión de Ingresos <span>&gt; Crear Ingreso </span></h1>
        </div>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-sign-in"></i> </span>
                    <h2>Formulario de creación de ingreso</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        {{ form_start(form, {'attr': {'id': 'ingress-form'}}) }}
                            {{ form_errors(form) }}
                            <div class='row'>
                                <div class='col-md-3'>
                                    {{ form_row(form.baln) }}
                                </div>
                                <div class='col-md-3'>
                                    {{ form_row(form.date.date,{ 'label': 'Fecha' }) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.date.time ,{ 'label': 'Hora' }) }}
                                </div>                                
                            </div>
                            <hr>
                            <h5>Proveedor:</h5>
                            <div class="row">
                                <div class="col-md-3">
                                    {{form_row(form.provider)}}
                                </div>
                            </div>
                            <hr>
                            <h5>Transporte:</h5>
                            <div class='row'>
                                <div class='col-md-3'>
                                    {{ form_row(form.transport) }}
                                </div>
                                <div class='col-md-3'>
                                    {{ form_row(form.driver) }}
                                </div>
                                <div class='col-md-3'>
                                    {{ form_row(form.truckDomain) }}
                                </div>
                                <div class='col-md-3'>
                                    {{ form_row(form.coupledDomain) }}
                                </div>
                            </div>
                            <hr>
                            <h5>Producto:</h5>
                            <div class='row'>
                                <div class='col-md-3'>
                                    {{ form_row(form.product) }}
                                </div>
                                <div class='col-md-3'>
                                    
                                    {{ form_row(form.grossWeight) }}
                                </div>
                                <div class='col-md-3'>
                                    {{ form_row(form.tareWeight) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.density) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">{{form_row(form.clean)}}</div>
                                <div class="col-md-3">{{form_row(form.realLiter)}}</div>
                                <div class="col-md-3 col-md-offset-3">{{form_row(form.tested)}}</div>
                            </div>
                            <hr>
                            <h5>Muestra:</h5>
                            <div class="row">
                                <div class="col-md-1">{{form_row(form.fivePercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-1">{{form_row(form.tenPercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-1">{{form_row(form.twentyPercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-1">{{form_row(form.thirtyPercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-1">{{form_row(form.fortyPercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-1">{{form_row(form.fiftyPercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-1">{{form_row(form.sixtyPercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-1">{{form_row(form.seventyPercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-1">{{form_row(form.eightyPercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-1">{{form_row(form.ninetyPercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-1">{{form_row(form.ninetyFivePercent, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">{{form_row(form.distillationGout, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-3">{{form_row(form.pDry, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-3">{{form_row(form.pFinal, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                                <div class="col-md-3">{{form_row(form.recovered, {'attr': {'class': 'floatNumberPrecision'}})}}</div>
                            </div>
                            <hr>
                            <h5>Remito:</h5>
                            <div class='row'>
                                <div class='col-md-2'>
                                    {{ form_row(form.branchNumber) }}
                                </div>
                                
                                <div class='col-md-4'>
                                    {{ form_row(form.remitNumber) }}
                                </div>
                            </div>
                            <hr>
                            {{form_row(form.observation)}}
                        {{ form_end(form) }}
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->
        </article>
    </div>
{% endblock %}


{% block javascripts %}
   {{ parent() }}
    {% javascripts 'SmartAdmin/js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js'
                   '@MainBundle/Resources/public/js/verasur_new_edit_movement.js'
                   'SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

<script type="text/javascript">
    // START AND FINISH DATE
    $(document).ready(function(){
        verasurNewEditMovement.init();
{#        $("#mainbundle_ingress_transport").trigger("change");#}
        function redondeoMuestra (value, precision) {
            if (value == "" || isNaN(value)) {
                return "";
            } else {
                return parseFloat(parseFloat(value).toFixed(precision));
            }
        }
        $('.floatNumberPrecision').focusout(function(){
            $(this).val(redondeoMuestra($(this).val(),1));
        });
        
        //Validation
        $('#ingress-form').validate({
            onkeyup: false,
            submitHandler: function(form) {
                    form.submit();
                    $("#mainbundle_ingress_submit").prop('disabled', true);
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            rules: {
                "mainbundle_ingress[truckDomain]":{
                    required :true
                },
                "mainbundle_ingress[coupledDomain]":{
                    required :true
                },
                "mainbundle_ingress[grossWeight]":{
                    required :true,
                    number: true
                },
                "mainbundle_ingress[tareWeight]":{
                    required :true,
                    number: true
                },
                "mainbundle_ingress[density]":{
                    required :true,
                    number: true
                },
                "mainbundle_ingress[clean]":{
                    required :true
                },
                "mainbundle_ingress[realLiter]":{
                    required :true
                },
                "mainbundle_ingress[provider]":{
                    required :true
                },
                "mainbundle_ingress[product]":{
                    required :true
                },
                "mainbundle_ingress[transport]":{
                    required :true
                },
                "mainbundle_ingress[driver]":{
                    required :true
                }
            },
            messages: {
                "mainbundle_ingress[truckDomain]":{
                    required : "Este campo es requerido"
                },
                "mainbundle_ingress[coupledDomain]":{
                    required :"Este campo es requerido"
                },
                "mainbundle_ingress[grossWeight]":{
                    required :"Este campo es requerido",
                    number: "El valor debe ser numerico"
                },
                "mainbundle_ingress[tareWeight]":{
                    required :"Este campo es requerido",
                    number: "El valor debe ser numerico"
                },
                "mainbundle_ingress[density]":{
                    required :"Este campo es requerido",
                    number: "El valor debe ser numerico"
                },
                "mainbundle_ingress[clean]":{
                    required :"Este campo es requerido"
                },
                "mainbundle_ingress[realLiter]":{
                    required :"Este campo es requerido"
                },
                "mainbundle_ingress[provider]":{
                    required :"Este campo es requerido"
                },
                "mainbundle_ingress[product]":{
                    required :"Este campo es requerido"
                },
                "mainbundle_ingress[transport]":{
                    required :"Este campo es requerido"
                },
                "mainbundle_ingress[driver]":{
                    required :"Este campo es requerido"
                }
            }
        });
    });
</script>
{% endblock %}
