{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> Gestión de Ingresos <span>&gt; Mostrar Ingreso </span></h1>
        </div>
    </div>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success fade in">
                    <button class="close" data-dismiss="alert">×</button>
                    <i class="fa-fw fa fa-check"></i>
                    <strong>Éxito:</strong> {{ flashMessage }}
                </div>
            {% endfor %}
            
            <div class="jarviswidget" id="wid-id-8" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <h2>Ingreso</h2>
                    <ul class="nav nav-tabs pull-right in">

                        <li class="active">

                            <a data-toggle="tab" href="#hb1"> <i class="fa fa-lg fa-align-left"></i> <span class="hidden-mobile hidden-tablet"> Información Básica </span> </a>

                        </li>
                        <li>
                            <a data-toggle="tab" href="#hb2"> <i class="fa fa-lg fa-truck"></i> <span class="hidden-mobile hidden-tablet"> Proveedor Asociado </span> </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#hb3"> <i class="fa fa-lg fa-truck"></i> <span class="hidden-mobile hidden-tablet"> Transporte Asociado </span> </a>
                        </li>                        
                        <li>
                            <a data-toggle="tab" href="#hb4"> <i class="fa fa-lg fa-cubes"></i> <span class="hidden-mobile hidden-tablet"> Producto Asociado </span> </a>
                        </li>

                    </ul>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">

                            <div class="tab-content">
                                <div class="tab-pane active" id="hb1">
                                    <p>BALN: {{ entity.baln }}</p>
                                    <p>Fecha: {{ entity.date|date("d/m/Y") }}</p>
                                    <p>Dominio de camión: {{ entity.truckDomain }}</p>
                                    <p>Dominio de acoplado: {{ entity.coupledDomain }}</p>
                                    <p>Chofer: {{ entity.driver }}</p>
                                    <p>Peso Bruto: {{ entity.grossWeight|number_format(2, '.', ',') }}</p>
                                    <p>Tara: {{ entity.tareWeight|number_format(2, '.', ',') }}</p>
                                    <p>Densidad: {{ entity.density }}</p>
                                    <p>Neto: {{ entity.clean|number_format(2, '.', ',') }}</p>
                                    <p>Litros Reales: {{ entity.realLiter|number_format(2, '.', ',') }}</p>
                                    <p>Número: {{ entity.branchNumber}} - {{entity.remitNumber}}</p>
                                    
                                </div>
                                <div class="tab-pane" id="hb2">
                                    <p>Código: {{ entity.provider.code }}</p>
                                    <p>Nombre: {{ entity.provider.name }}</p>
                                    <p>Activo: {{ entity.provider.active ? 'Si':'No' }}</p>
                                </div>
                                <div class="tab-pane" id="hb3">
                                    <p>Cogido: {{ entity.transport.code }}</p>
                                    <p>Transporte: {{ entity.transport.transport }}</p>
                                    <p>Activo: {{ entity.transport.Active ? 'Si':'No' }}</p>
                                </div>
                                <div class="tab-pane" id="hb4">
                                    <p>Código: {{ entity.product.code }}</p>
                                    <p>Descripcion: {{ entity.product.description }}</p>
                                    <p>Nro. Formula Produccion: {{ entity.product.numFormulaProduction }}</p>
                                    <p>Calculo Crudo-Lar: {{ entity.product.crudeLar ? 'Si':'No' }}</p>
                                    <p>Ingreso/Egreso: {{ entity.product.typeEntry }}</p>
                                </div>
                            </div>

                        <hr class="simple">

                        <a href="{{ path('ingress') }}" class="btn btn-default">Volver</a>
                        <a href="{{ path('ingress_edit', { 'id': entity.id }) }}" class="btn btn-primary pull-right">Editar</a>
                        <button class="btn btn-danger pull-right margin-right-5" data-toggle="modal" data-target="#deleteModal">Eliminar</button>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->
            </div>
        </article>
    </div>
                        
    {{ form_start(delete_form) }}
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Confirmación de eliminación</h4>
                    </div>
                    <div class="modal-body">
                        <p>Está seguro que desea eliminar el registro?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                        <input class="btn btn-danger pull-right" type="submit" value="Eliminar" />
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {{ form_end(delete_form) }}
    
{% endblock %}