{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> Informes <span>&gt; Movimientos </span></h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success fade in">
                        <button class="close" data-dismiss="alert">×</button>
                        <i class="fa-fw fa fa-check"></i>
                        <strong>Éxito:</strong> {{ flashMessage }}
                    </div>
                {% endfor %}

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Informe de Movimientos </h2>

                        <div class="widget-toolbar" role="menu">								
                            <div class="btn-group">
                                <button class="btn dropdown-toggle btn-xs btn-primary" data-toggle="dropdown">
                                    Exportar <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a id="excel-file"><i class="fa fa-file-excel-o"></i> Excel</a>
                                    </li>
                                    <li>
                                        <a id="pdf-file"><i class="fa fa-file-pdf-o"></i> PDF</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" style="padding-top: 7px;">Desde:</label>
                                            <div class="col-md-9">
                                                <input class="form-control datepicker filters" id="fromDate" type="text" data-dateformat="dd/mm/yy" value="{{ "now"|date("d/m/Y")}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" style="padding-top: 7px;">Hasta:</label>
                                            <div class="col-md-9">
                                                <input class="form-control datepicker filters" id="toDate" type="text" data-dateformat="dd/mm/yy" value="{{ "now"|date("d/m/Y")}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" style="padding-top: 7px;">Tanque/Planta:</label>
                                            <div class="col-md-9">
                                                <select id="tank" class="filters" style="width:100%">
                                                    <option value="">Ingrese un tanque/planta...</option>
                                                    {% for tank in tanks %}
                                                        <option value="{{ tank.id }}">{{ tank.code }} - {{ tank.description }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" style="padding-top: 7px;">Buscar:</label>
                                            <div class="col-md-9">
                                                <input class="form-control" id="searchBar" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="tableTankReport" class="table table-striped table-bordered table-hover" width="100%" style="margin-top: 0px!important;">
                                <thead>
                                    <tr>
                                        <th data-class="expand">Fecha</th>
                                        <th data-hide="phone">Origen</th>
                                        <th data-hide="phone">Destino</th>
                                        <th data-hide="phone">Tipo de movimiento</th>
                                        <th data-hide="phone">Producto</th>
                                        <th data-hide="phone">Cantidad</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Total:</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <form action="{{path('report_tank_export')}}" method="POST" id="table-parameters">
                                <input type="hidden" id="file-type" name="file-type">
                                <input type="hidden" id="parameters" name="parameters">
                            </form>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'SmartAdmin/js/plugin/datatables/jquery.dataTables.min.js'
                   'SmartAdmin/js/plugin/datatables/dataTables.colVis.min.js'
                   'SmartAdmin/js/plugin/datatables/dataTables.tableTools.min.js'
                   'SmartAdmin/js/plugin/datatables/dataTables.bootstrap.min.js'
                   'SmartAdmin/js/plugin/datatable-responsive/datatables.responsive.min.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            var responsiveHelper_dt_basic = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            var table = $('#tableTankReport').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ path("report_tank_ajax_list") }}",
                    "data": function (d) {
                        d.fromDate = $("#fromDate").val();
                        d.toDate = $("#toDate").val();
                        d.tank = $("#tank").val();
                        //d.destiny = $("#destiny").val();
                    }
                },
                "columns": [
                    {"name": "date"},
                    {"name": "origin"},
                    {"name": "destiny"},
                    {"name": "movementType"},
                    {"name": "product"},
                    {"name": "quantity"}
                ],
                "sDom": "tr" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tableTankReport'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                },
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "footerCallback": function (tfoot, data, start, end, display) {
                    var response = this.api().ajax.json();
                    if (response) {
                        var $th = $(tfoot).find('th');
                        $th.eq(5).html(response['total']);
                    }
                }
            });

            $("select").select2();
            $(".datepicker").datepicker();

            $(".filters").change(function () {
                table.draw();
            });
            
            $('#searchBar').keyup(function(){
                table.search($(this).val()).draw() ;
            });
            
            $('#excel-file').click(function(){
                var paramsObject = JSON.stringify(table.ajax.params());
                $('#file-type').val('excel');
                $('#parameters').val(paramsObject);
                $('#table-parameters').submit();
            });
            
            $('#pdf-file').click(function(){
                var paramsObject = JSON.stringify(table.ajax.params());
                $('#file-type').val('pdf');
                $('#parameters').val(paramsObject);
                $('#table-parameters').submit();
            });
        });
    </script>
{% endblock %}