{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> Gestión de Egresos <span>&gt; Listado de Egresos </span></h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success fade in">
                        <button class="close" data-dismiss="alert">×</button>
                        <i class="fa-fw fa fa-check"></i>
                        <strong>Éxito:</strong> {{ flashMessage }}
                    </div>
                {% endfor %}

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Listado de Egresos </h2>

                        <div class="widget-toolbar" role="menu">								
                            <div class="btn-group">
                                <button class="btn dropdown-toggle btn-xs btn-primary" data-toggle="dropdown">
                                    Exportar <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="{{ path('egress_export', { 'type': 'excel' }) }}"><i class="fa fa-file-excel-o"></i>Excel</a>
                                    </li>
                                    <li>
                                        <a class="fa fa-file-pdf-o" href="{{ path('egress_export', { 'type': 'pdf' }) }}">PDF</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="tableClient" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">BALN</th>
                                        <th data-hide="phone">Fecha y Hora</th>
                                        <th data-hide="phone">Cliente</th>
                                        <th data-hide="phone">Transporte</th>
                                        <th data-hide="phone">Producto</th>
                                        <th data-hide="phone">Litros Reales</th>
                                        <th data-hide="phone">Número Sucursal</th>
                                        <th data-hide="phone">Número Remito</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                {#                                <tbody>
                                                                    {% for entity in entities %}
                                                                        <tr>
                                                                            <td>{{ entity.baln }}</td>
                                                                            <td>{{ entity.date|date("d/m/Y")}}</td>
                                                                            <td>{{ entity.client }}</td>
                                                                            <td>{{ entity.truckDomain }}</td>
                                                                            <td>{{ entity.coupledDomain }}</td>
                                                                            <td>{{ entity.transport }}</td>
                                                                            <td>{{ entity.driver }}</td>
                                                                            <td>{{ entity.grossWeight }}</td>
                                                                            <td>{{ entity.tareWeight }}</td>
                                                                            <td>{{ entity.product }}</td>
                                                                            <td>{{ entity.density }}</td>
                                                                            <td>{{ entity.clean }}</td>
                                                                            <td>{{ entity.realLiter }}</td>
                                                                            <td>{{ entity.branchNumber }} - {{ entity.remitNumber }}</td>
                                                                            <td>
                                                                                <a class="btn btn-primary" href="{{ path('egress_show', { 'id': entity.id }) }}">Ver</a>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>#}
                            </table>
                        </div>
                        <!-- end widget content -->

                        {% if app.user and is_granted('ROLE_SUPERVISOR') %}
                            <input type="hidden" id="user" name="user" class="form-control" value="supervisor" />    
                        {% endif %}

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'SmartAdmin/js/plugin/datatables/jquery.dataTables.min.js'
                   'SmartAdmin/js/plugin/datatables/dataTables.colVis.min.js'
                   'SmartAdmin/js/plugin/datatables/dataTables.tableTools.min.js'
                   'SmartAdmin/js/plugin/datatables/dataTables.bootstrap.min.js'
                   'SmartAdmin/js/plugin/datatable-responsive/datatables.responsive.min.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            
            var supervisor = $("#user").val();
            var responsiveHelper_dt_basic = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#tableClient').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('egress_list') }}",
                "order": [[0, "asc"]],
                "sDom": "<'dt-toolbar'<'col-xs-3 col-sm-6'><'col-sm-6 col-xs-9'f>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "columnDefs": [
                    {"name": "e.baln", "targets": 0, "className": "text-center"},
                    {"name": "e.date", "targets": 1, "className": "text-center"},
                    {"name": "client.nombre", "targets": 2, "className": "text-center"},
                    {"name": "transport.transport", "targets": 3, "className": "text-center"},
                    {"name": "product.description", "targets": 4, "className": "text-center"},
                    {"name": "e.realLiter", "targets": 5, "className": "text-center"},
                    {"name": "e.branchNumber", "targets": 6, "className": "text-center"},
                    {"name": "e.remitNumber", "targets": 7, "className": "text-center"},
                    {"name": "e.id", "targets": 8, "className": "text-center", "searchable": false, "orderable": false,
                        "render": function (data, type, row) {
                            if (supervisor != "supervisor") {
                                return '<a href="' + Routing.generate('egress_show', {id: row[8]}) + '" class="btn btn-primary btn-sm margin-right-5"><i class="fa fa-search"></i></a>';
                            } else {
                                return '<a href="' + Routing.generate('egress_show', {id: row[8]}) + '" class="btn btn-primary btn-sm margin-right-5"><i class="fa fa-search"></i></a><a href="' + Routing.generate('egress_edit', {id: row[8]}) + '" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i></a>';
                            }
                        }
                    }
                ],
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tableClient'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                },
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
            $(".dt-toolbar").children("div").first().prepend('<a class="btn btn-primary margin-bottom-5" href="{{ path('egress_new') }}">Nuevo</a>');
        });
    </script>
{% endblock %}
