{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> Gestión de Inventario <span>&gt; Listado de Inventarios </span></h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success fade in">
                        <button class="close" data-dismiss="alert">×</button>
                        <i class="fa-fw fa fa-check"></i>
                        <strong>Éxito:</strong> {{ flashMessage }}
                    </div>
                {% endfor %}

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Listado de Inventarios {{tank.plant?"de la planta":"del tanque"}} {{tank.code}} - {{tank.description}}</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="tableInventory" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">Fecha</th>
                                        <th data-hide="phone">Operador</th>
                                        <th data-hide="phone">Producto</th>
                                        <th data-hide="phone">CM de vacio</th>
                                        <th data-hide="phone">Volumen</th>
                                        <th data-hide="phone">Diferencia contra última medida</th>
                                        <th data-hide="phone">Comentarios</th>
                                        <th></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
    <input type="hidden" id="tankId" value="{{ tank.id }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'SmartAdmin/js/plugin/datatables/jquery.dataTables.min.js'
                   'SmartAdmin/js/plugin/datatables/dataTables.colVis.min.js'
                   'SmartAdmin/js/plugin/datatables/dataTables.tableTools.min.js'
                   'SmartAdmin/js/plugin/datatables/dataTables.bootstrap.min.js'
                   'SmartAdmin/js/plugin/datatable-responsive/datatables.responsive.min.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            var responsiveHelper_dt_basic = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            var table = $('#tableInventory').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ path("inventory_ajax_list") }}",
                    "data": function (d) {
                        d.tankId = $("#tankId").val();
                    }
                },
                "columns": [
                    {"name": "date"},
                    {"name": "operator"},
                    {"name": "product"},
                    {"name": "vacuum"},
                    {"name": "volume"},
                    {"name": "difference"},
                    {"name": "observation"},
                    {"name": "id", "className": "text-center", "render": function (data, type, row) {
                            return '<a href="' + Routing.generate('inventory_show', {id: row[7]}) + '" class="btn btn-primary">Ver</a>';
                        }}
                ],
                "sDom": "<'dt-toolbar'<'col-xs-3 col-sm-6'><'col-sm-6 col-xs-9'f>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tableInventory'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                },
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
            $(".dt-toolbar").children("div").first().prepend('<a class="btn btn-primary margin-bottom-5" href="{{ path('inventory_new',{ 'id': tank.id }) }}">Nuevo</a>');
        });
    </script>
{% endblock %}
